<link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
<script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<meta name="keywords" content="Full stack developer, web development, front-end, back-end, Angular, React, Node.js, JavaScript, HTML, CSS, Salerno, Italia, curriculum, CV, lavoro, freelancer, problem solver, developer, università fisciano">
<meta name="description" content="I am a full stack developer based in Salerno, Italia, with expertise in Angular, Python, JavaScript, HTML, and CSS. I specialize in building dynamic and responsive web applications. I'm a problem solver, a developer with a strong curriculum, I'm looking for a job or freelancer opportunities. I'm graduated from Università degli Studi di Salerno, Fisciano">
<meta name="author" content="Elpidio Mazza">


<app-full-page>

</app-full-page>
