.my-card {
  --cui-card-spacer-y: 1rem;
  --cui-card-spacer-x: 1rem;
  --cui-card-title-spacer-y: 0.5rem;
  --cui-card-border-width: 1px;
  /* --cui-card-border-color: var(--cui-border-color-translucent); */
  /* --cui-card-border-radius: 0.375rem; */
  --cui-card-inner-border-radius: calc(0.375rem - 1px);
  --cui-card-cap-padding-y: 0.5rem;
  --cui-card-cap-padding-x: 1rem;
  --cui-card-cap-bg: rgba(0, 0, 21, 0.03);
  --cui-card-cap-color: unset;
  --cui-card-color: unset;
  --cui-card-img-overlay-padding: 1rem;
  --cui-card-group-margin: 0.75rem;
  --cui-card-box-shadow: none;
  --cui-card-height: none;
  --cui-card-bg: none;
}

